<%= link_to "Back to this user", admin_user_path(@user) %>
<h2>Edit this user.</h2>
<%= form_for([:admin, @user]) do |f| %>
  <%= render 'form', user: @user, f: f %>
  <div><%= f.submit "Submit" %></div>
<% end %>